SET LANGUAGE QDD
SET GENERATE DEVICE DISC NAME "G:/CHIMU/SISCAT/QSHOGEN"
GENERATE ALL
;SET COMPRESSED SORT XREF 
;SET REPORT DEVICE DISC NAME "G:/CHIMU/SISCAT/FILAS"
;SHOW DESCRIPTION OF FILES
;SET REPORT DEVICE DISC NAME "G:/CHIMU/SISCAT/ELEMENTO"
;SHOW ELEMENTS
;SET REPORT DEVICE DISC NAME "G:/CHIMU/SISCAT/RECORDS"
;SHOW RECORDS DETAIL
EXIT
